*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android keystore
/android/keystore/**
!android/keystore/*.md    # 如果想保留說明文件
/android/keystore.properties
/keystore/*.jks
/keystore/keystore.properties
/keystore/*.p12
/keystore/*.b64